<web-app id="hornetq-rest" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<listener>
		<listener-class>org.hornetq.rest.integration.HornetqBootstrapListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.hornetq.rest.integration.RestMessagingBootstrapListener</listener-class>
	</listener>

	<filter>
		<filter-name>Rest-Messaging</filter-name>
		<filter-class>
			org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Rest-Messaging</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>rest.messaging.config.file</param-name>
		<param-value>hornetq-rest.xml</param-value>
	</context-param>
</web-app>